{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Storage</a></li>
                {% if is_space_left %}
                    <li><a href="{% url 'upload' %}">Upload a file</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ user }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% if filenames %}
        <h1>Your files:</h1>
        <ul class="list-group">
            {% for filename in filenames %}
                <li class="list-group-item">
                    <a href="{{ filename.uploaded_file.file.url }}">{{ filename.name }}</a>
                    <a href="{% url 'delete' filename.id %}" class="text-muted pull-right">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" title="delete"></span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="jumbotron">
            <h1>Your have no files yet</h1>
            <p><a class="btn btn-primary btn-lg" href="{% url 'upload' %}" role="button">Add some!</a></p>
        </div>
    {% endif %}
</div>
{% endblock body %}
